[submodule "Submodule/demucs.cpp"]
	path = Submodule/demucs.cpp
	url = git@github.com:mosynthkey/demucs.cpp.git
[submodule "Submodule/JUCE"]
	path = Submodule/JUCE
	url = git@github.com:juce-framework/JUCE.git
